{% extends 'main_template.html' %}

{% block title %}
    سایت خاطره نویسی
{% endblock title %}

{% block content %}
    <h1 class="text-center text-primary">خاطرات ثبت شده درون سایت</h1>
    <div class = "card">
        <div class = "card-body">
           <h5 class = "card-title">عنوان خاطره</h5>
           
           <p class = "card-text">
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
           </p>
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
        </div>
     </div>
     <div class = "card">
        <div class = "card-body">
           <h5 class = "card-title">عنوان خاطره</h5>
           
           <p class = "card-text">
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
           </p>
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
        </div>
     </div>
     <div class = "card">
        <div class = "card-body">
           <h5 class = "card-title">عنوان خاطره</h5>
           
           <p class = "card-text">
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
            متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره متن خاطره 
           </p>
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
           <img src="{{media_url}}images/memory/971-450x450.jpg" class="img-thumbnail img-120" alt="...">
        </div>
     </div>
{% endblock content %}


