<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="{{media_url}}/images/logo/logo.png" class="rounded-circle img-120" alt=""> 
        </div>
        <div class="col-md-6">
            <h1 class="display-4">خاطره نویسی </h1>
            <p class="lead">وبسایتی جهت اشتراک خاطرات دوستان.</p>
        </div>
        
        <div class="col-md-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="جستجو" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">جستجو</button>
              </form>
        </div>
    </div>
 </div>